.event-participant {
    color: white;
    border-radius: 5%;
    margin: 10px;
    height: 50%;
    text-align: center;
}

.accepted {
    background-color: green;
}

.pending {
    background-color: yellow;
}

.declined {
    background-color: red;
}